@{
    ViewBag.Title = "Index";
}

@section head
{
    <style type="text/css">
        #cssRevealedContent {
            display: none;
        }
    </style>
    <link href="/Content/csstest.css" rel="stylesheet" />
}

<h2>Index</h2>
<div id="cssRevealedContent">
    <p>Hi guys, this content shows up thanks to css file.</p>

</div>
